---
layout: layout
---

<style>
    .wrapper a {
        color: #0085a1
    }

    section {
        padding: 30px 30px 50px 30px;
        margin-top: 100px;
        background: #fbfbfb;
        border-radius: 3px;
        border: 1px solid #cbcbcb;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
    }
</style>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="wrapper">
            <section>
                <%- page.content %>
            </section>
        </div>
        <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    </div>
</div>

<div id="music">
    <audio id="bell" src="/music/Faded.mp3" preload="auto" loop autoplay></audio>
</div>
<!-- <embed style="position:fixed;right:0;bottom:0;"; src="http://www.xiami.com/widget/274513503_1776204257/singlePlayer.swf" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent"></embed> -->
<!-- <embed style="position:fixed;right:0;bottom:-44px;"; src="http://www.xiami.com/widget/274513503_1775988866,1774426379,1770760772,1772121439,3567313,_235_246_FF8719_494949/multiPlayer.swf" allowscriptaccess="always" quality="high" wmode="opaque" menu="false" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="235" height="246" title="Adobe Flash Player"> -->

<!-- music control -->
<%- js('js/music.js') %>
